.carousel{
    height: 100vh;
   
    .carousel-inner::after{
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
    }
    .carousel-inner{
        height: 100vh;
        .logo{
            width: 150px;
            position: absolute;
            top: 10%;
            left: 5%;
            z-index: 97;
            img{
                width: 100%;
                z-index: 98;
                border-radius: 100%;
                border: 2px solid white;
            }
        }
        .carousel-item{
            height: 100vh;
            img{
                height: 100vh;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
            .carousel-caption{
                h5{
                    font-size: 2rem;
                    text-shadow: 2px 2px 2px black; 
                }
                p{
                    font-size: 1.5rem;
                    text-shadow: 2px 2px 2px black; 
                }
            }
        }
    }
}



@media (min-width: 1024px) and (max-width: 1500px){
    .carousel{
        height: 90vh;
        .carousel-inner{
            height: 90vh;
            .carousel-item{
                height: 90vh;
                img{
                    height: 90vh;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .carousel{
        height: 60vh;
        .carousel-inner{
            .logo{
                top:15%;
            }
            height: 60vh;
            .carousel-item{
                .carousel-caption{
                    h5{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                height: 60vh;
                img{
                    height: 60vh;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 767px){
    .carousel{
        height: 50vh;
        .carousel-inner::after{
            content: '';
            background: none;
        }
        .carousel-inner{
            .logo{
                top: 20%;
            }
            height: 50vh;
            .carousel-item{
                height: 50vh;
                img{
                    height: 50vh;
                }
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 599px){
    .carousel{
        height: 40vh;
        .carousel-inner::after{
            content: '';
            background: none;
        }
        .carousel-inner{
            .logo{
                display: none;
            }
            height: 40vh;
            .carousel-item{
                height: 40vh;
                img{
                    height: 40vh;
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 479px){
    .carousel{
        height: 30vh;
        .carousel-inner::after{
            content: '';
            background: none;
        }
        .carousel-inner{
            .logo{
                display: none;
            }
            height: 30vh;
            .carousel-item{
                height: 30vh;
                img{
                    height: 30vh;
                }
            }
        }
    }
}