@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$background-1: #0e0e0e;
.filter {
  display: block;
  padding-top: 2.1rem;
  background: $background-1;
  h2 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: white;
  }
  .filter-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    .combo:hover {
      transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    .pieza:hover {
      transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    .ensalada:hover {
      transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    .todos:hover {
      transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 100%;
      border: 2px solid white;
      cursor: pointer;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-family: "Lato", sans-serif;
      padding-top: 10px;
      color: white;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .filter-menu {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    .combo {
      align-self: center;
      justify-self: center;
    }
    .pieza {
      align-self: center;
      justify-self: center;
    }
    .ensalada {
      align-self: center;
      justify-self: center;
    }
    .todos {
      align-self: center;
      justify-self: center;
    }
  }
}
