@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@import 'header';
@import 'carousel';
@import 'filter-menu';
@import 'sushi-items';
@import 'about';
@import 'footer';
@import 'carrito';
